@*
*@
@{
}

@model RecipePage.Models.Entities.Recipe

<h1>@Model.Title</h1>


@if (Model is null)
{
    <p>No recipe was found with this id!</p>
}
else
{
    <form method="post">
        <div>
            @if (Model.ImageData != null)
            {
                var base64Image = "data:image/png;base64," + Convert.ToBase64String(Model.ImageData);
                <img src="@base64Image" alt="Recipe Image" style="max-width:300px; max-height:300px;" />
            }
            else
            {
                <img src="/images/image_placeholder.jpg" style="max-width:200px; max-height:200px;"></img>
            }
        </div>
        <div>
            <h3>Description</h3>
            <p>@Model.Description</p>
        </div>

        <div>
            <h3>Ingredients</h3>
            <ul>
                @foreach (var ingredient in Model.ListOfIngredients)
                {
                    <li>@ingredient</li>
                }
            </ul>
        </div>

        <div>
            <h4>Cooking Time</h4>
            <p>@Model.CookingTime.Hours hours @Model.CookingTime.Minutes minutes</p>
        </div>

        <div>
            <h3>Instructions to make @Model.Title</h3>
            <ol>
                @foreach (var instruction in Model.Instructions)
                {
                    <li>@instruction</li>
                }
            </ol>
        </div>

        <a asp-controller="Recipes" asp-action="List" class="btn btn-primary">Back to List</a>
    </form>
}